/* ------------------------------ 设置对话框 ------------------------------ */

/* 遮罩上面的白色字体改为蓝色字体 */
.b3-dialog__scrim > div:nth-child(2) {
  color: var(--button-blue);
}

/* 弹出对话框左侧选项列表 */
.config__panel > .b3-tab-bar {
  margin: 15px 10px;
}

.config__panel > .b3-tab-bar .b3-list-item__graphic {
  margin-left: 12px;
}

/* 弹出对话框的关闭按钮： */
.b3-dialog__close {
  color: var(--dialog-close);
  font-size: 50%;
  cursor: pointer;
  /* background-color: #c5e4ff; */
  /* border: 1px solid #5187be; */
  border-radius: 16px;
  padding: 3px;
  margin-left: 22px;
  height: 23.5px;
  width: 23.5px;
  transition: all 0.3s linear;
  /* top: 1px; */
  right: -39px;
}
/* 弹出对话框中的.b3-tab-container */
.b3-tab-container {
  background-color: var(--b3-theme-background);
}

/* 弹出对话框右侧区域 */
.config__tab-container {
  padding: 6px 0;
}

/*  */
.config__panel > .b3-tab-bar .config__tab-title {
  padding: 0;
}

.config__panel > .b3-tab-bar .config__tab-title .b3-list-item__graphic {
  margin-left: 2px;
  padding: 0 10px 0 0px;
}

.config__panel > .b3-tab-bar .config__tab-title .b3-list-item__text {
  font-weight: bold;
  font-size: 14.5px;
}

/* 弹出对话框左侧搜索框 */
.b3-dialog__container .config__panel .b3-form__icon {
  margin: 0 2px 16px 2px;
}

/* ------------------------------ 弹出确定对话框 ------------------------------ */
/* 整个对话框 */
.b3-dialog__container {
  box-shadow:
    0 6px 30px 5px rgba(0, 0, 0, 5%),
    0 16px 24px 2px rgba(0, 0, 0, 4%),
    0 8px 10px -5px rgba(0, 0, 0, 8%);
  border-radius: 10px;
  /* background-color: var(--dialog-bg); */
}
.b3-dialog__container[style*="520px"] {
  width: 360px !important;
}

/* 中间的提示信息 */
.b3-dialog__content {
  margin: 4px 0 16px;
}
/* 对话框标题 */
.b3-dialog__header {
  border-bottom: 0.5px solid var(--b3-theme-surface-lighter);
  margin-top: 8px;
}
/* 2个按钮 */
.b3-dialog__action {
  border-top: none;
  margin-bottom: 10px;
}

.config__panel .config__tab-container .layout-tab-bar {
  background-color: var(--b3-theme-background);
}

/* ------------ 集市详情页 ----------- */
#configBazaarReadme {
  background-color: var(--theme-background-darker);
  border-radius: 10px;
  padding: 16px;
}
#configBazaarReadme .item__side {
  background-color: var(--b3-theme-background);
  border-radius: 10px;
}
#configBazaarReadme .item__side .block__icons {
  margin: 20px 0;
}
#configBazaarReadme .item__side .block__icon {
  padding: 3px 5px;
}
#configBazaarReadme .item__side .block__icon[data-type="goBack"] {
  margin-top: 16px;
  font-size: 13px;
  border-radius: 3px;
  /* height: 28px; */
  width: auto;
}
#configBazaarReadme .item__side::-webkit-scrollbar {
  display: none;
}
#configBazaarReadme .item__main {
  background-color: var(--b3-theme-background);
  border-radius: 10px;
}
#configBazaarReadme .item__main .b3-typography {
  padding: 0 20px;
}
.b3-card:hover {
  background-color: var(--b3-list-hover);
  box-shadow:
    0 1px 10px rgba(0, 0, 0, 5%),
    0 4px 5px rgba(0, 0, 0, 8%),
    0 2px 4px -1px rgba(0, 0, 0, 12%);
  transform: translateY(-2px);
}
