/* -------------------------------------- dock -------------------------------------- */

/* .dock包括左右dock和底部不显示的dock */
.dock,
.dock__item {
  background-color: var(--b3-theme-surface);
}

/* 垂直 dock：即左右dock */
.dock--vertical {
  width: 40px;
  /* 将编辑区标签页提到顶部遮住工具栏后，将左右dock下移 */
  /* padding-top: 10px; */
  /* margin: 0 2px 0 1px;  */
  /* z-index: 43 */
}

/* 消除2个中间的竖线 */
.dock#dockLeft {
  border-right-color: var(--b3-theme-surface);
}
.dock#dockRight {
  border-left-color: var(--b3-theme-surface);
}

/* 左右dock的图标 */
.dock--vertical div:first-child:not(:empty) span svg,
.dock--vertical div:last-child:not(:empty) span svg {
  width: 12.5px;
  height: 12.5px;
}
.dock--vertical div:first-child:not(:empty) span.dock__item svg,
.dock--vertical div:last-child:not(:empty) span.dock__item svg {
  color: var(--dock-item-svg);
}
.dock--vertical div:first-child:not(:empty) span.dock__item--active svg,
.dock--vertical div:last-child:not(:empty) span.dock__item--active svg {
  color: var(--dock-item-active-svg);
}

/* 点击选中的按钮 */
.dock__item--activefocus {
  /* background-color: var(--dock-item-activefocus-background) !important; */
  /* background-color: var(--b3-list-item-focus-sidebar) !important; */
  background-color: var(--b3-list-hover) !important;
}

/* -------------------------------------- 左右侧边栏：即文件区、大纲区、关系图等 -------------------------------------- */

/* 将编辑区标签页提到顶部后，让左右两侧边栏下降 */
/* #layouts > .fn__flex > .fn__flex-column:not(.layout__center) {
  margin-top: 18px;
} */

/* ----------------- 上方的图标和文字 ---------------- */
.block__icons {
  height: 30px;
  background-color: var(--b3-tab-background);
  min-height: 32px;
}

/* ------ 显示当前活动的侧边栏项：如文档树 ----- */
.block__icons .block__logo {
  color: var(--b3-theme-on-surface);
  font-size: 12.4px;
}
/* 隐藏显示当前活动的侧边栏项的图标：即只保留文字 */
.block__logo svg {
  height: 0px;
  width: 0px;
  position: absolute;
}
/* 修改右侧几个图标的大小： */
.block__icon svg {
  height: 13px;
  width: 13px;
}

/* 左边栏文件列表的箭头： */
.b3-list-item__toggle--hl:hover {
  color: var(--b3-theme-on-background);
  /* background-color: var(--b3-list-item-toggle-hl-hover); */
  background-color: unset;
  /* border-radius: 0px; */
}
/* 大纲区 */
.file-tree.sy__outline {
  padding: 0 8px;
}

/* .file-tree .dragover__top {
  background-color: var(--b3-theme-primary-lightest);
  box-shadow:
    0 -2px 0 var(--b3-theme-primary-lighter),
    inset 0 2px 0 var(--b3-theme-primary-lighter);
}

.file-tree .dragover__bottom {
  background-color: var(--b3-theme-primary-lightest);
  box-shadow:
    0 2px 0 var(--b3-theme-primary-lighter),
    inset 0px -2px 0 var(--b3-theme-primary-lighter);
} */
