/* ------------------------------- 全局属性 -------------------------------------- */
:root {
  /* 主色 */
  --b3-theme-primary: #0052d9; /* 原3884ff*/
  --b3-theme-primary-light: rgba(66, 133, 244, 0.54);  /* block-ref  */
  --b3-theme-primary-lighter: rgba(66, 133, 244, 0.38);  /* wu   */
  --b3-theme-primary-lightest: rgba(66, 133, 244, 0.12);  /* wu  */

  --b3-theme-secondary: #f3a92f;

  --b3-theme-background: #f3f5f9;
  --b3-theme-background-light: #dfe0e1;

  /* 四周的背景：工具栏、dock、侧边栏、状态栏  #f0f2f6;   ebedf3;     f0f2f7; */
  --b3-theme-surface: #f0f2f6;
  --b3-theme-surface-light: #f5f7f9;
  --b3-theme-surface-lighter: rgba(0, 0, 0, 0.06);

  --b3-theme-error: #ff4642;

  /* 文字颜色 */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #202124; /* 编辑器文字颜色 */
  --b3-theme-on-surface: #5f6368;
  --b3-theme-on-error: #fff;
  --b3-theme-on-surface-light: rgba(95, 99, 104, 0.68);

  /* hover */
  --b3-list-hover-on-surface: ;

  /* layout：自定义 */
  --b3-layout-resize-lr-after-bg: #f0f2f6;
  --b3-layout-tab-bar-item-focus: #f8f9fc;
  --b3-layout-tab-bar-item-focus-after: #c9d0dc;

  /* toolbar */
  --b3-toolbar-background: #2b2d30;
  --b3-toolbar-blur-background: #373a41;
  --b3-toolbar-color: #9aa0a6;
  --b3-toolbar-hover: #383a42;
  --b3-toolbar-left-mac: 69px;
  /* toolbar：自定义 */
  --b3-toolbar-item-1: black;
  --b3-toolbar-item-2: #6c7075;
  --b3-toolbar-item-3: #5f6367;
  --b3-toolbar-item-4: #4f5255;
  --b3-toolbar-item-background: #c6e4ee;
  --b3-toolbar-item-hover-background: #c6e4ee;

  /* 文字颜色 */
  --b3-font-color1: #0595e9; /* 03a3ff ｜  017ade */
  --b3-font-color2: #056ede; /* 004af8 */
  --b3-font-color3: #001aff; /*  */
  --b3-font-color4: #9901ff;
  --b3-font-color5: #f309f3; /* 5e1ca8 */
  --b3-font-color6: #ff56d5;
  --b3-font-color7: #e7087f; /*  d9085f */
  --b3-font-color8: #ff0000;
  --b3-font-color9: #04a25b; /* 0fb46c */
  --b3-font-color10: #067318; /* 249210 */
  --b3-font-color11: #d17103;
  --b3-font-color12: #f96801;
  --b3-font-color13: #47495a; /*var(--b3-theme-background)*/

  /* 背景颜色 */
  --b3-font-background1: #3fb4f877; /*  3fb4f885 ｜  67bafe93 */
  --b3-font-background2: #aeccff; /*  BBD6FB |  0f7efc5b ｜ 0ffce88a   0059ff68    */
  --b3-font-background3: #4747fd64; /*  4747fd6f  |  437bff6b ｜ 785aff60 ｜ 6769ff74 */
  --b3-font-background4: #73ebfebb; /* b7edffcb  / a9eaffcb */
  --b3-font-background5: #25e9b488; /* 33f2bf95 */
  --b3-font-background6: #58f54a88; /*  59ff4a95 ｜ 4aff4d95 */
  --b3-font-background7: #f1f423b3; /*  f1f50f96*/
  --b3-font-background8: #ff952392;  /* ff870782 */
  --b3-font-background9: #d483ff89; /* c7bdff */
  --b3-font-background10: #ff8fce8c; /* ffa3d7a5 */
  --b3-font-background11: #ff173e70; /* ff173e7e |  f8d7da */
  --b3-font-background12: #06195c4a;
  --b3-font-background13: var(--b3-theme-on-background);

  /* dock：自定义 */
  --dock-item-activefocus-background: #e6eef7;
  --dock-item-svg: #82878d;
  --dock-item-active-svg: #a5a5a7;

  /* 标签页 */
  --b3-tab-bar-block-icon-more: #aaacaf;
  --b3-tab-bar-hover-bg:#dce7ef;  /* #d7e2ea */

  /* 列表：选中后的背景色：自定义  */
  --b3-list-item-focus: #e7ebef;
  --b3-list-item-focus-sidebar: #e2e9ee;
  --b3-list-item-focus-dialog: #e1e9ef;
  --b3-list-item-hover: #e5ebf0; /* dfe9f3 */
  --b3-list-item-toggle-hl-hover: #cde5fc;

  /* 列表：鼠标放在上面的背景色 */
  --b3-list-hover: #e2e9ee; /*  e7ebef | e9eaea | e0edfc  | ebf0f7 */
  --b3-list-icon-hover: rgba(33, 34, 36, 0.1);
  --b3-list-sidebar-hover:#e0edfc;

  /* 对话框的背景：自定义 */
  --b3-dialog-close: #a2b1bf; /* 205d99 */

  /* 菜单 */
  --b3-menu-background: #f8f9fa;

  /* 页签 */
  --b3-tab-background: var(--b3-theme-surface);
  --b3-tab-background-hover: #e9eaeb;
  --b3-tag-focus:#f7fbff;

  /* --------------------------------------------------------------- */

  /* 遮罩 */
  --b3-mask-background: #eef1f6;  /*    #000000 */

  /* 滚动条：自定义，#ddecfd  */
  --b3-scrollbar: #e0edfc;
  /* 滚动条 */
  --b3-scroll-color: rgba(0, 0, 0, 0.2);

  /* 按钮：自定义 */
  --b3-button-blue: #0052d9;
  --b3-button-blue-light: #e0ebff;
  --button-dialog-bazaar-bg: #cddffd;
  --toolart-vip-svg: #25c7e0;
  --toolart-barDock-svg: #6c7075;

  /* 阴影 */
  --shadow-0:0 0 0 1px rgb(0 0 0 / 12%)
  /* --b3-point-shadow: 0 3px 6px rgba(140, 149, 159, 0.15); */
  --b3-point-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  /* --b3-dialog-shadow: 0 8px 24px rgba(140, 149, 159, 0.2); */
  --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  /* 自定义 */
  --color-white: white;
  --color-black: black;
  --field-bg-light: #e6ebf0;
  --field-bg-blue: #2151d1;
  --field-switch: #868b98;

  /* 线条 */
  --b3-border-color: #e0e5ea; /*rgba(0, 0, 0, .1) , rgba(0, 0, 0, 0.3)*/

  /* 下拉菜单 */
  --b3-select-hover: #ddecfd;
  --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    no-repeat right 2px center var(--b3-theme-background);

  /* 动画效果 */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-width-transition: width 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;

  /* 提示 */
  --b3-tooltips-color: rgba(0, 0, 0, 0.54);

  /* 卡片背景 */
  --b3-card-error-color: rgb(97, 26, 21);
  --b3-card-error-background: rgb(253, 236, 234);
  --b3-card-warning-color: rgb(102, 60, 0);
  --b3-card-warning-background: rgb(255, 244, 229);
  --b3-card-info-color: rgb(13, 60, 97);
  --b3-card-info-background: rgb(232, 244, 253);
  --b3-card-success-color: rgb(30, 70, 32);
  --b3-card-success-background: rgb(237, 247, 237);

  /* diff */
  --b3-diff-add: #dfd;
  --b3-diff-add-surface: #97f295;
  --b3-diff-del: #fee8e9;
  --b3-diff-del-surface: #ffb6ba;

  /* -------------------------------------  ------------------------------------- */

  /* 编辑区文字选中背景：自定义 */
  --b3-text-select-background: #d7eaffb6; /* #d4ebf4鼠标划选区域 */
  --b3-text-drag-select-background: #d1e9fb; /* #d4ebf4鼠标划选区域 */
  /* a标签下面的线条：自定义 */
  --b3-link-bottom: rgba(78, 78, 86, 0.2);
  /* 编辑器导航滑块：上下箭头：自定义 */
  --protyle-scroll-svg: #4876f5;

  /* 标题h2的border */
  --protyle-title-border: #626366;
  /* 选中 */
  --protyle-selection-bg: #0761d6;

  /* 粗体、着重、斜体颜色 */
  --b3-protyle-inline-strong-color: #202124;
  --b3-protyle-inline-em-color: #202124;
  --b3-protyle-inline-s-color: #202124;
  /* a链接/超链接颜色 */
  --b3-protyle-inline-link-color: #191c27; /* 以前是#4285f4  #164a9e #1b1c1f  */
  /* 高亮颜色 */
  --b3-protyle-inline-mark-background: #ffe955; /* rgb(252, 212, 126) */
  --b3-protyle-inline-mark-color: #202124;
  /* 标签 */
  --b3-protyle-inline-tag-color: #5f6368;
  /* blockref */
  --b3-protyle-inline-blockref-color: var(--b3-protyle-inline-tag-color); /*  #8250df */
  /* fileref */
  --b3-protyle-inline-fileref-color: #21862e;

  /* blockquote：自定义 */
  --b3-protyle-blockquote-background: #e9edf3;
  --b3-protyle-blockquote-border: #0e68c1;
  --b3-protyle-blockquote-para: #7a8084;   /* 757c81 |  828d97 */

  /* 编辑器搜索颜色 */
  --b3-protyle-search-background: #ffe955;
  --b3-protyle-search-border-color: #f2e680;
  --b3-protyle-search-current-background: #a5d3fe;

  /* 编辑器工具栏高度 */
  --b3-protyle-toolbar-height-space: 3px;

  /* 代码片段背景 */
  /* --b3-protyle-code-background: rgba(27, 31, 35, 0.05); */
  --b3-protyle-code-background: rgba(230, 236, 241, 1);
  --b3-protyle-code-linenumber-hl: #b9d1f4;
  --b3-protyle-codeblock-shadow: #041b1538; /* 自定义 */
  --b3-protyle-codeblock-edit-background: #e6ecf0; /* 自定义 */
  --b3-protyle-codeblock-linenumber-background: #b1c3c491; /* 自定义 */
  --b3-protyle-codeblock-lang: rgba(13, 56, 50, 0.5); /* 自定义 */
  --b3-protyle-codeblock-lang-hover: rgba(13, 56, 50, 0.5); /* 自定义 */
  --b3-protyle-codeblock-lang-background-hover: #b7d5e4; /* 自定义 */
  --b3-protyle-codeblock-icon: rgba(13, 56, 50, 0.5); /* 自定义 */
  --b3-protyle-codeblock-icon-hover-background: #b7d5e4; /* 自定义 */
  --b3-protyle-codeblock-after: #ffffff; /* 自定义 */
  --b3-protyle-codeblock-empty-hint: #9b9b9b9a; /* 自定义 */

  /* 表格 */
  --b3-table-border-color: #cfdcec; /* e4e6e8 cfdcec  dee6ec  DBE4EB */
  --b3-table-th-color: #edf1f5; /* e6ecf0   e9ecee   EAEFF3  EBF0F4  e6ecf0 DCE8F0 E3EBF1 */
  --b3-table-tr2n-color: #f0f4f7; /* f0f4f5   EAEFF3  EBF0F4 e6ecf0 DCE8F0 E3EBF1 */
  --b3-table-trn-color: #edf1f5; /* e9ecee   eff3f5  F0F2F5 E9EFF3 #EBF0F3 */

  /* 字体 */
  --b3-font-family: "Noto Sans", "Noto Sans SC", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB",
    "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol",
    "Android Emoji", "EmojiSymbols";
  --b3-font-family-code: "JetBrains Mono", "Noto Sans SC", mononoki, Consolas, "Liberation Mono", Menlo, Courier,
    monospace, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  /* todo */
  --b3-font-family-graph: mononoki;

  /* 思源笔记本来的 */
  /* --b3-font-family: "quote", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB", "Microsoft Yahei",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";
  --b3-font-family-code: "JetBrainsMono-Regular", mononoki, Consolas, "Liberation Mono", Menlo, Courier, monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
  --b3-font-family-graph: mononoki;
  --b3-font-family-emoji: "Segoe UI Emoji", "Segoe UI Symbol", "Segoe UI", "Apple Color Emoji", "Twemoji Mozilla",
    "Noto Color Emoji", "Android Emoji";
  --b3-font-family-math: KaTeX_Math; */

  /* 图表颜色 */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #660e7a; /* #8250df; */
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #202124;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #5f6368;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* PDF */
  --b3-pdf-selection: #d0e9c8;
  --b3-pdf-sidebar-width: 200px;
  --b3-pdf-offset: 0;
  --b3-pdf-background1: var(--b3-theme-error);
  --b3-pdf-background2: #f5822e;
  --b3-pdf-background3: var(--b3-theme-secondary);
  --b3-pdf-background4: #65b84d;
  --b3-pdf-background5: #f5539e;
  --b3-pdf-background6: var(--b3-theme-primary);
  --b3-pdf-background7: #944194;
  --b3-pdf-dark: #212224;
}
