/*  全局属性  */
:root {
  /* ------------------ 主色 ------------------ */
  --b3-theme-primary: #0052d9; /* 原3884ff*/
  --b3-theme-primary-light: rgba(66, 133, 244, 0.54); /* block-ref  */
  --b3-theme-primary-lighter: #ccdaee; /* rgba(66, 133, 244, 0.38) */
  /* e2ecf9  | e3edfa | e2ecf8 | e2edfa | E1EDFC | rgba(66, 133, 244, 0.12)  */
  --b3-theme-primary-lightest: rgba(102, 205, 250, 0.12);
  --b3-theme-secondary: #f3a92f;
  /* 编辑区的背景色，设置对话框右侧背景色 */
  --b3-theme-background: #f3f5f9;
  --theme-background-darker: #e9ecf4;
  --b3-theme-background-light: #dfe0e1;
  /* 四周：工具栏、dock、侧边栏、状态栏 */
  /*  f0f2f6  ,  eceff4 |  ebeff3 | eaeff3  | e9eef2 | edf1f9 | eaeef4 |  ebedf3  | f0f2f7;  */
  --b3-theme-surface: #f0f2f6;
  --b3-theme-surface-light: #f5f7f9;
  --b3-theme-surface-lighter: rgba(0, 0, 0, 0.06);
  --b3-theme-error: #ff4642;

  /* ------------------ 文字颜色 ------------------ */
  --b3-theme-on-primary: #fff;
  --b3-theme-on-secondary: #fff;
  --b3-theme-on-background: #202124; /* 编辑器文字颜色 */
  --b3-theme-on-surface: #5f6368;
  --b3-theme-on-error: #fff;
  --b3-theme-on-surface-light: rgba(95, 99, 104, 0.68);

  /* ------------------ 字体 ------------------ */
  /* 删除：第1个 "quote"，在最前面增加："Noto Sans", "Noto Sans SC" */
  --b3-font-family: "Noto Sans", "Noto Sans SC", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Hiragino Sans GB",
    "Microsoft Yahei", sans-serif, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Android Emoji", "EmojiSymbols";
  /* 删除：第 1 个"JetBrainsMono-Regular"，在最前面增加："JetBrains Mono", "Noto Sans SC" */
  --b3-font-family-code: "JetBrains Mono", "Noto Sans SC", mononoki, Consolas, "Liberation Mono", Menlo, Courier,
    monospace, "Apple Color Emoji", "Noto Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Android Emoji",
    "EmojiSymbols";

  /* ------------------ 颜色自定义 ------------------ */
  --color-white: white;
  --color-black: black;
  --field-bg-light: #e4eaf0; /* e6ebf0 */
  --field-bg-blue: #2151d1;
  --field-switch: #868b98;

  /* ------------------ 动画效果 ------------------ */
  --b3-transition: all 0.15s cubic-bezier(0, 0, 0.2, 1) 0ms;
  --b3-width-transition: width 0.2s cubic-bezier(0, 0, 0.2, 1) 0ms;

  /* ------------------ 阴影 ------------------ */
  --shadow-0: 0 0 0 1px rgb(0 0 0 / 12%) /* --b3-point-shadow: 0 3px 6px rgba(140, 149, 159, 0.15); */ --b3-point-shadow:
      0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  /* --b3-dialog-shadow: 0 8px 24px rgba(140, 149, 159, 0.2); */
  --b3-dialog-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
    0px 9px 46px 8px rgba(0, 0, 0, 0.12);

  /* ------------------ 顶部工具栏 ------------------ */
  --b3-toolbar-background: #2b2d30;
  --b3-toolbar-blur-background: #373a41;
  --b3-toolbar-color: #9aa0a6;
  --b3-toolbar-hover: #383a42;
  --b3-toolbar-left-mac: 69px;
  /* 自定义： */
  --toolbar-item-color: #5f6367;
  --toolbar-item-svg1: #4f5255;
  --toolbar-item-svg2: #6c7075;
  --toolbar-svg-vip: #25c7e0;
  --toolbar-svg-barDock: #6c7075;
  --toolbar-item-bg: #c6e4ee;
  /* --toolbar-item-hover-bg: #c6e4ee; */

  /* ------------------ dock ------------------ */
  --dock-item-svg: #82878d;
  --dock-item-active-svg: #a5a5a7;

  /* ------------------ resize ------------------ */
  --layout-resize-lr-after-bg: #f0f2f6;

  /* ------------------ 标签页 ------------------ */
  --tab-bar-block-icon-more: #aaacaf;
  --tab-bar-focus-text: #20209c; /* 20209c */
  --tag-bar-item-focus-bg: #f7fbff;

  /* ------------------ 对话框 ------------------ */
  --dialog-close: #a2b1bf; /* 205d99 */

  /* ------------------ diff ------------------ */
  /* --b3-diff-add: #dfd;
  --b3-diff-add-surface: #97f295;
  --b3-diff-del: #fee8e9;
  --b3-diff-del-surface: #ffb6ba; */

  /* ------------------ 列表 ------------------ */
  /* on --b3-theme-surface */
  --b3-list-hover: #e4eaf0; /* e4eaf0 | e9ecef | e2e9ee | e7ebef | e9eaea | e0edfc | ebf0f7 */
  --list-item-hover: #e2edfa; /* cde5fc | e5ebf0 | dfe9f3 | e0edfc | cde5fc */
  --b3-list-icon-hover: #f1f4f9; /* eaeff7 | f7faff | f3f7fe | eaeff5 */
  /* --list-icon-hover-shadow: 0 1px 6px rgb(176, 214, 255), 0 2px 6px rgb(176, 214, 255),
    0 2px 5px -1px rgb(176, 214, 255); */
  --list-menu-hover: #e3eaf1;
  --protyle-codeblock-lang-icon-hover-bg: #d7e3ef;

  /* ------------------ 菜单 ------------------ */
  --b3-menu-background: #f3f7fb; /* |f8f9fa */

  /* ------------------ 提示 ------------------ */
  --b3-tooltips-color: white; /* rgba(0, 0, 0, 0.54) */

  /* ------------------ 按钮 ------------------ */
  --button-blue: #0052d9;
  /* --button-blue-light: #e0ebff; */
  --button-dialog-bazaar-bg: #cddffd;
  --button-cancel-bg: #c7dafe;

  /* ------------------ 线条 ------------------ */
  --b3-border-color: #e0e5ea; /*rgba(0, 0, 0, .1) , rgba(0, 0, 0, 0.3)*/
  --b3-border-radius: 3px; /* 6px */

  /* ------------------ 遮罩 ------------------ */
  --b3-mask-background: #c7cbd3d8; /* eef1f6 | 000000 */

  /* ------------------ 滚动条 ------------------ */
  --b3-scroll-color: #e4eaf0; /* d7e1e9 | rgba(0, 0, 0, 0.2); */

  /* ------------------ 下拉菜单 ------------------ */
  --b3-select-hover: #ddecfd;
  --b3-select-background: url("data:image/svg+xml;utf8,<svg fill='rgba(95, 99, 104, .68)' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>")
    no-repeat right 2px center var(--b3-theme-background);

  /* ------------------ 编辑区自定义样式 ------------------ */
  /* 标题h2的border */
  --protyle-title-border: #626366;

  /* 选中 */
  --protyle-selection-bg: #0761d6;

  /* hr */
  /* --hr-color: #b6bbc5; */
  --hr-color: #202124;

  /* 标注了下划线的字体颜色 */
  --u-color: #0040ff;

  /* blockquote */
  --protyle-blockquote-bg: #e9edf3;
  --protyle-blockquote-border: #2d61c2; /* 265bbe, c5c9d0, #0e68c1 */
  --protyle-blockquote-para: #7a8084; /* 757c81 |  828d97 */

  /* 表格 */
  --table-th-bg: #edf1f5; /* e6ecf0   e9ecee   EAEFF3  EBF0F4  e6ecf0 DCE8F0 E3EBF1 | edf2f5 */
  --table-tr2n-bg: #f0f4f7; /* f0f4f5   EAEFF3  EBF0F4 e6ecf0 DCE8F0 E3EBF1 */
  --table-trn-bg: #edf1f5; /* e9ecee   eff3f5  F0F2F5 E9EFF3 #EBF0F3 */
  /* --b3-table-border-color: #cfdcec; */ /* e4e6e8 cfdcec  dee6ec  DBE4EB */

  /* 编辑区文字选中背景：自定义，鼠标划选区域 */
  --select-bg: #d7eaffb6; /* d7eaffb6 | d4ebf4 */
  --drag-select-bg: rgba(198, 243, 251, 0.7); /*  d1e9fb  | d4ebf4 | cedef4 */

  /* a标签下面的线条：自定义 */
  --link-bottom: rgba(78, 78, 86, 0.4);

  /* 编辑器导航滑块：上下箭头：自定义 */
  --protyle-scroll: #a7c8ef; /* 4876f5 */
  /* 向上向下箭头 */
  --protyle-scroll-hover: #2151d1; /* 2e41e7 */

  /* 代码 */
  --b3-protyle-code-background: rgba(230, 236, 241, 1); /* rgba(27, 31, 35, 0.05) */
  --b3-protyle-code-linenumber-hl: #b9d1f4;
  --protyle-codeblock-shadow: #041b1538;
  --protyle-codeblock-edit-bg: #e6ecf0;
  --protyle-codeblock-ln-bg: #b1c3c491;
  --protyle-codeblock-lang: rgba(13, 56, 50, 0.5);
  --protyle-codeblock-lang-hover: rgba(13, 56, 50, 0.5);
  --protyle-codeblock-icon: rgba(13, 56, 50, 0.5);
  /* --protyle-codeblock-icon-hover-background: #b7d5e4;  */
  --protyle-codeblock-after: #ffffff;
  --protyle-codeblock-empty-hint: #9b9b9b9a;

  /* ---- 所见即所得行内元素颜色 ---- */
  /* 粗体 */
  --b3-protyle-inline-strong-color: #202124;
  /* 着重 */
  --b3-protyle-inline-em-color: #202124;
  /* 斜体 */
  --b3-protyle-inline-s-color: #202124;
  /* 超链接 */
  --b3-protyle-inline-link-color: #191c27; /* 以前是#4285f4  #164a9e #1b1c1f  */
  /* 高亮 */
  --b3-protyle-inline-mark-background: #b0e6fdcc; /* rgb(252, 212, 126)  #ffe955*/
  --b3-protyle-inline-mark-color: #202124;
  /* 标签 */
  --b3-protyle-inline-tag-color: #5f6368;
  /* blockref */
  --b3-protyle-inline-blockref-color: var(--b3-protyle-inline-tag-color); /*  #8250df */
  /* fileref */
  --b3-protyle-inline-fileref-color: #21862e;

  /* ------------------ 编辑器搜索颜色 ------------------ */
  --b3-protyle-search-background: #ffe955;
  --b3-protyle-search-border-color: #f2e680;
  --b3-protyle-search-current-background: #a5d3fe;

  /* ------------------ 卡片背景 ------------------ */
  --b3-card-error-color: rgb(97, 26, 21);
  --b3-card-error-background: rgb(253, 236, 234);
  --b3-card-warning-color: rgb(102, 60, 0);
  --b3-card-warning-background: rgb(255, 244, 229);
  --b3-card-info-color: rgb(13, 60, 97);
  --b3-card-info-background: rgb(232, 244, 253);
  --b3-card-success-color: rgb(30, 70, 32);
  --b3-card-success-background: rgb(237, 247, 237);

  /* ------------------ 自定义文字颜色 ------------------ */
  --b3-font-color1: #0595e9; /* 03a3ff ｜  017ade */
  --b3-font-color2: #056ede; /* 004af8 */
  --b3-font-color3: #001aff; /*  */
  --b3-font-color4: #9901ff;
  --b3-font-color5: #04a25b; /* 0fb46c */
  --b3-font-color6: #067318; /* 249210 */
  --b3-font-color7: #f309f3; /* 5e1ca8 */
  --b3-font-color8: #ff56d5;
  --b3-font-color9: #e7087f; /*  d9085f */
  --b3-font-color10: #ff0000;
  --b3-font-color11: #d17103;
  --b3-font-color12: #f96801;
  --b3-font-color13: #47495a; /*var(--b3-theme-background)*/

  /* ------------------ 自定义背景颜色 ------------------ */
  --b3-font-background1: #3fb4f877; /*  3fb4f885 ｜  67bafe93 */
  --b3-font-background2: #aeccff; /*  BBD6FB |  0f7efc5b ｜ 0ffce88a   0059ff68    */
  --b3-font-background3: #4747fd5b; /* 4747fd64 | 4747fd6f  |  437bff6b ｜ 785aff60 ｜ 6769ff74 */
  --b3-font-background4: #73ebfebb; /* b7edffcb  / a9eaffcb */
  --b3-font-background5: #25e9b488; /* 33f2bf95 */
  --b3-font-background6: #58f54a88; /*  59ff4a95 ｜ 4aff4d95 */
  --b3-font-background7: #f1f423b3; /*  f1f50f96*/
  --b3-font-background8: #ff911b89; /* ff952392 | ff870782 */
  --b3-font-background9: #d483ff89; /* c7bdff */
  --b3-font-background10: #ff8fce8c; /* ffa3d7a5 */
  --b3-font-background11: #ff173e70; /* ff173e7e |  f8d7da */
  --b3-font-background12: #06195c4a;
  --b3-font-background13: var(--b3-theme-on-background);

  /* ------------------ 图表颜色 ------------------ */
  --b3-graph-p-point: #076f7e;
  --b3-graph-heading-point: #660e7a; /* #8250df; */
  --b3-graph-math-point: #80ffa5;
  --b3-graph-code-point: #00ddff;
  --b3-graph-table-point: #37a2ff;
  --b3-graph-list-point: #ff0087;
  --b3-graph-todo-point: #ffbf00;
  --b3-graph-olist-point: #b3005f;
  --b3-graph-listitem-point: #f65b00;
  --b3-graph-bq-point: #8d48e3;
  --b3-graph-super-point: #dd79ff;
  --b3-graph-doc-point: #202124;
  --b3-graph-tag-point: #dbf32f;
  --b3-graph-asset-point: #05c091;
  --b3-graph-line: #5f6368;
  --b3-graph-ref-line: #d23f31;
  --b3-graph-tag-line: #5f6b06;
  --b3-graph-tag-tag-line: #dbf32f;
  --b3-graph-asset-line: #037457;
  --b3-graph-hl-point: #f3a92f;
  --b3-graph-hl-line: #4285f4;

  /* ------------------ PDF ------------------ */
  --b3-pdf-selection: #d0e9c8;
  --b3-pdf-sidebar-width: 200px;
  --b3-pdf-offset: 0;
  --b3-pdf-background1: var(--b3-theme-error);
  --b3-pdf-background2: #f5822e;
  --b3-pdf-background3: var(--b3-theme-secondary);
  --b3-pdf-background4: #65b84d;
  --b3-pdf-background5: #f5539e;
  --b3-pdf-background6: var(--b3-theme-primary);
  --b3-pdf-background7: #944194;
  --b3-pdf-dark: #212224;
}
