/* ------------------------------- 编辑区和左侧边栏之间的resize区域 ------------------------------- */
.layout__resize--lr:after {
  background-color: var(--b3-layout-resize-lr-after-bg);
}

/* ------------------------------- 编辑区 ------------------------------- */
/* 编辑器 */
.protyle-wysiwyg {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
/* 笔记标题 */
.protyle-title__input {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

/* ------------------------------- 面包屑 ------------------------------- */
.protyle-breadcrumb {
  /* padding: 0 2px 2px; */
  margin-top: 3px;
}

.protyle-preview {
  padding-top: 24px;
}

.protyle-preview__action {
  padding: 8px;
}

/* .protyle-breadcrumb .protyle-breadcrumb__item svg.ft__primary {
  color: #3574b3;
} */

/* 菜单 */
.b3-menu__item--show > .b3-menu__submenu--row {
  width: 332px;
  height: 149px;
}
.b3-menu__item--show > .b3-menu__submenu--row .b3-menu__item {
  padding: 4px;
  height: 24px;
}

/* ------------------------------- 选择 ------------------------------- */

/* 光标选中文本样式 */
.protyle-wysiwyg ::selection {
  background-color: var(--protyle-selection-bg);
  color: var(--color-white);
}
/* 选中块 */
.protyle-wysiwyg--select,
.protyle-wysiwyg--select .hljs {
  background-color: var(--b3-text-select-background) !important;
}
/* 鼠标划选区域 */
.protyle-select {
  /* cedef4 */
  background-color: var(--b3-text-drag-select-background);
}

/* ------------------------------- tag -------------------------------------- */
/* copying code style */
/* span[data-type="tag"]:not(.dock__item) {
  display: inline-block;
  padding: 0.05em 0.7em;
  margin: 0;
  border-radius: 15px;
  cursor: pointer;
  white-space: pre-wrap;
  background-color: #808080;
  color: #ffffff !important;
  font-family: var(--b3-font-family-code);
  font-size: 80%;
  font-weight: normal;
  text-decoration: none !important;
  text-align: center;
} */

/* ------------------------------- 窗口其它元素 -------------------------------------- */

/*  正文  */
.b3-typography p,
.b3-typography [data-node-id],
.protyle-wysiwyg [data-node-id].p,
.protyle-wysiwyg p {
  line-height: 1.7em;
  margin: 1px 0;
  padding: 2.8px;
  /* text-align: justify; */
}

.protyle-content .protyle-background {
  padding-bottom: 10px;
}
.protyle-background__iconw {
  height: 45px;
}
.protyle-background__icon img,
.protyle-background__icon svg {
  height: 45px;
  width: 45px;
}

/* --------------- 编辑区后侧的滑块 --------------- */
/* .protyle-scroll { */
/* right: -8px !important; */
/*width: 14px; */ /* 调整上下2个箭头的左右位置 */
/* display: block !important; */ /* 配合让滑块始终显示 */
/* } */

.protyle-scroll__bar {
  display: inherit !important; /* 让滑块始终显示 */
}

.protyle-scroll svg {
  /* 调整上下2个箭头的大小 */
  height: 14px;
  width: 14px;
  /* fill: var(--protyle-scroll-svg);
  stroke: var(--protyle-scroll-svg); */
}

.protyle-scroll__down,
.protyle-scroll__up {
  color: var(--protyle-scroll-svg);
  opacity: 1;
}

/* ------------------------------------------------------------ */

/* .layout-tab-bar .item--focus,
.layout-tab-bar .item--focus:hover,
.layout-tab-bar .item--focus:focus,
.layout-tab-bar .item--focus:active {
  background-color: ;
}

.layout-tab-bar .item--focus {
  color: ;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.layout-tab-bar .item {
  background-color: ;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 13px;
  border-radius: 4px;
  height: 28px;
  min-height: 0;
  width: auto;
  padding: 0 4px;
  flex: unset;
  box-shadow: unset !important;
} */

/* ----------------------------------------------------------- */
/* 字体色方框：改小一点 */
.color__square[data-type="color"] {
  height: 15px;
  width: 15px;
}
/* 字体背景色：改为圆角，以区分字体颜色 */
.color__square[data-type="backgroundColor"] {
  border-radius: 7px;
}
/* 将字体颜色的显示框改为显示背景色而非文字A */
.color__square[style="color:var(--b3-font-color1)"] {
  background-color: var(--b3-font-color1);
}
.color__square[style="color:var(--b3-font-color2)"] {
  background-color: var(--b3-font-color2);
}
.color__square[style="color:var(--b3-font-color3)"] {
  background-color: var(--b3-font-color3);
}
.color__square[style="color:var(--b3-font-color4)"] {
  background-color: var(--b3-font-color4);
}
.color__square[style="color:var(--b3-font-color5)"] {
  background-color: var(--b3-font-color5);
}
.color__square[style="color:var(--b3-font-color6)"] {
  background-color: var(--b3-font-color6);
}
.color__square[style="color:var(--b3-font-color7)"] {
  background-color: var(--b3-font-color7);
}
.color__square[style="color:var(--b3-font-color8)"] {
  background-color: var(--b3-font-color8);
}
.color__square[style="color:var(--b3-font-color9)"] {
  background-color: var(--b3-font-color9);
}
.color__square[style="color:var(--b3-font-color10)"] {
  background-color: var(--b3-font-color10);
}
.color__square[style="color:var(--b3-font-color11)"] {
  background-color: var(--b3-font-color11);
}
.color__square[style="color:var(--b3-font-color12)"] {
  background-color: var(--b3-font-color12);
}
.color__square[style="color:var(--b3-font-color13)"] {
  background-color: var(--b3-font-color13);
}
