/* ------------------------------- 编辑区 -------------------------------------- */

/* --------------- 编辑区后侧的滑块 --------------- */
/* .protyle-scroll { */
/* right: -8px !important; */
/*width: 14px; */ /* 调整上下2个箭头的左右位置 */
/* display: block !important; */ /* 配合让滑块始终显示 */
/* } */

.protyle-scroll__bar {
  display: inherit !important; /* 让滑块始终显示 */
}

.protyle-scroll svg {
  /* 调整上下2个箭头的大小 */
  height: 14px;
  width: 14px;
}

.protyle-scroll__down,
.protyle-scroll__up {
  color: var(--b3-nav-scroll);
  opacity: 1;
}

/* --------------- 真正编辑的区域 --------------- */
.protyle-wysiwyg {
  padding-left: 30px !important;
  padding-right: 30px !important;
}

/* --------------- 整个编辑区 --------------- */
.layout-tab-container {
  margin-top: 3px;
}

/* --------------- title font --------------- */
.protyle-title__input {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

/* -------------------------------------- 标签页 -------------------------------------- */
/* tab color */
ul.layout-tab-bar {
  background-color: var(--b3-theme-surface);
  /* opacity:0.5; */
  color: #979799;
  height: 35px;
  /* border-bottom: 0.8px solid var(--b3-border-color); */
  border-bottom: 0;
}
/* tab */
.layout-tab-bar .item {
  padding: 0px 4px;
  font-size: 12.5px;
  min-height: 35px;
}
/*  */
.layout-tab-bar .item__graphic {
  margin-right: 6px;
}
/* tag旁边的关闭按钮 */
.layout-tab-bar .item__close {
  padding: 0;
}
/* 消除其它tab的shadow */
.layout-tab-bar .item:not(:last-child) {
  box-shadow: none !important;
}

/* 获得了焦点的tab */
.layout-tab-bar .item--focus {
  background-color: var(--b3-layout-tab-bar-item-focus) !important;
  color: var(--b3-theme-on-background);
}
/*  */
.layout-tab-bar .item--focus:after {
  height: 1.5px;
  bottom: 1px;
  background-color: var(--b3-layout-tab-bar-item-focus-after);
}
/* 消除焦点tab的shadow */
.layout__wnd--active .layout-tab-bar .item--focus {
  box-shadow: none !important;
}
.layout__wnd--active .layout-tab-bar .item--focus:after {
  background-color: var(--b3-wnd-active-tab-bar-item-focus-after-bg);
}

/* 新增加 */
.layout__center .layout-tab-bar .item--focus,
.layout__center .layout-tab-bar .item--focus:hover,
.layout__center .layout-tab-bar .item--focus:focus,
.layout__center .layout-tab-bar .item--focus:active {
  background-color: var(--b3-theme-background);
}

.block__icon[data-type="more"] {
  color: var(--b3-tab-bar-block-icon-more);
}

/* --------------- 面包屑 --------------- */
.protyle-breadcrumb {
  /* padding: 0 2px 2px; */
  margin-top: 3px;
}

.protyle-preview {
  padding-top: 24px;
}

.protyle-preview__action {
  padding: 8px;
}

/* .protyle-breadcrumb .protyle-breadcrumb__item svg.ft__primary {
  color: #3574b3;
} */

/* 菜单 */
.b3-menu__item--show > .b3-menu__submenu--row {
  width: 332px;
  height: 149px;
}
.b3-menu__item--show > .b3-menu__submenu--row .b3-menu__item {
  padding: 4px;
  height: 24px;
}

/* --------------- kbd font --------------- */
kbd {
  font-family: var(--b3-font-family-code) !important;
}

/* --------------- 光标选中文本样式 *--------------- /
.protyle-wysiwyg ::selection {
  background-color: rgba(7, 97, 214, 0.445);
  color: white;
}
/* --------------- 选中块 ---------------*/
.protyle-wysiwyg--select,
.protyle-wysiwyg--select .hljs {
  background-color: var(--b3-text-select-background) !important;
}
/* --------------- 鼠标划选区域 --------------- */
.protyle-select {
  /* cedef4 */
  background-color: var(--b3-text-drag-select-background);
}

/* -------------------------------------- 列表： --------------------------------------  */
/* 包含：左侧边栏文件列表、对话框左侧列表、选择代码语言的列表等 */
.b3-list-item {
  margin: 0px;
}
/* 选中后的背景色 */
.b3-list--background .b3-list-item--focus {
  /* background-color: var(--b3-theme-background-light); */
  background-color: var(--b3-list-item-focus) !important;
}
/* 选中之后item的文本颜色 */
.b3-list--background .b3-list-item--focus > .b3-list-item__text {
  opacity: 0.5;
}
/* 鼠标放在上面的背景色： */
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--b3-list-item-hover) !important;
}
/* ---- 单独设置”设置“中左侧列表： ---- */
/* 选中后的背景色 */
.b3-dialog .b3-list--background .b3-list-item--focus {
  background-color: var(--b3-dialog-list-item-hover) !important;
}
/* 选中之后item的文本颜色 */
.b3-dialog .b3-list--background .b3-list-item--focus > .b3-list-item__text {
  opacity: 0.5;
}
/* 鼠标放在上面的背景色： */
.b3-dialog .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--b3-list-item-hover) !important;
}

/* ------------------------------- tag -------------------------------------- */
/* copying code style */
/* span[data-type="tag"]:not(.dock__item) {
  display: inline-block;
  padding: 0.05em 0.7em;
  margin: 0;
  border-radius: 15px;
  cursor: pointer;
  white-space: pre-wrap;
  background-color: #808080;
  color: #ffffff !important;
  font-family: var(--b3-font-family-code);
  font-size: 80%;
  font-weight: normal;
  text-decoration: none !important;
  text-align: center;
} */

/* ------------------------------- 窗口其它元素 -------------------------------------- */

.b3-list-item__action svg {
  color: var(--b3-theme-on-background);
}

/*  正文  */
.b3-typography p,
.b3-typography [data-node-id],
.protyle-wysiwyg [data-node-id].p,
.protyle-wysiwyg p {
  line-height: 1.7em;
  margin: 1px 0;
  padding: 3px;
  /* text-align: justify; */
}

.protyle-content .protyle-background {
  padding-bottom: 10px;
}
.protyle-background__iconw {
  height: 45px;
}
.protyle-background__icon img,
.protyle-background__icon svg {
  height: 45px;
  width: 45px;
}
