/* -------------------------------------- form -------------------------------------- */
.b3-form__icon-icon {
  margin: 0;
  /* width: 28px; */
  /* height: 28px; */
  width: 10px;
  height: 10px;
  padding: 9px 9px;
  left: 0 !important;
  top: 0;
}
/* .b3-dialog__container .config__panel > .b3-tab-bar > .b3-form__icon { */
.b3-dialog__container .config__panel .b3-form__icon {
  margin: 0 0 16px;
}
/* .b3-dialog__container .config__panel > .b3-tab-bar > .b3-form__icon .b3-form__icon-icon { */
/* .b3-dialog__container .config__panel .b3-form__icon .b3-form__icon-icon {
  margin: 0;
  width: 10px;
  height: 10px;
  padding: 9px 9px;
  left: 0 !important;
  top: 0;
} */
.b3-dialog__container .config__panel > .b3-tab-bar > .b3-form__icon .b3-text-field.b3-form__icon-input,
.b3-dialog__container .config__panel > .b3-tab-bar > .b3-form__icon .b3-text-field.b3-form__icon-input:hover,
.b3-dialog__container .config__panel > .b3-tab-bar > .b3-form__icon .b3-text-field.b3-form__icon-input:focus,
.b3-dialog__container .config__panel > .b3-tab-bar > .b3-form__icon .b3-text-field.b3-form__icon-input:active {
  background-color: var(--color-white) !important;
}

/* 设置中的滑块 */
/* .b3-dialog__container .config__tab-container .b3-slider::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  box-shadow: inset 0 0 6px 6px var(--scroll-base);
  border: solid 3px rgba(0, 0, 0, 0);
}
.b3-tooltips::after {
  box-shadow: ;
  background-color: var(--field-bg-blue);
  color: var(--field-bg-blue);
  padding: 4px 8px;
  border-radius: 4px;
  line-height: 1.7;
} */

/* -------------------------------------- button -------------------------------------- */
/* 默认蓝背景白字按钮  */
.b3-button {
  opacity: 1;
  transform: unset;
  margin: 0;
  padding: 0;
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  background-color: var(--color-white);
  color: var(--b3-button-blue);
  outline: unset;
  position: unset;
  font-size: 13px;
  border-radius: 4px;
  height: 28px;
  transform: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 4px 8px;
  line-height: 20px;
}

.b3-button:disabled {
  opacity: 0.38;
}

/* 设置对话框大多数按钮 */
.b3-button--small,
.b3-button--cancel,
.b3-button--outline {
  /* background-color: var(--b3-button-blue-light); */
  /* background-color: #d1e0fc; */
  background-color: #c7dafe;
  color: var(--b3-button-blue);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* .protyle-util .b3-button--outline {
  background-color: var(--button-dialog-bg);
  color: var(--b3-theme-primary);
}
.config__tab-container .b3-button {
  background-color: var(--button-dialog-bg);
} */

/* 如删除框取消按钮 */
.b3-dialog__container[style*="50vw"] .b3-dialog__action .b3-button,
.b3-dialog__container[style*="520px"] .b3-dialog__action .b3-button {
  background-color: var(--color-white);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  /* color: rgba(0, 0, 0, 90%); */
  color: var(--b3-theme-on-background);
  box-shadow: var(--shadow-0);
  letter-spacing: 0.3px;
  width: 48.5%;
}

/* 如删除框确定按钮 */
.b3-dialog__container[style*="50vw"] .b3-dialog__action .b3-button.b3-button--text,
.b3-dialog__container[style*="520px"] .b3-dialog__action .b3-button.b3-button--text {
  background-color: var(--b3-button-blue);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  color: var(--color-white);
}

/* 账号设置：未登录时：右侧文字 */
.config-account__center--text .b3-button--outline {
  height: unset;
}

/* 登录按钮 */
.b3-button#login {
  /* 3575f0 */
  background-color: var(--b3-button-blue);
  color: var(--b3-theme-on-primary);
}
/* 集市设置中：选中class属性只有--b3-button，不选中则还有b3-button--outline， */
/* 设置选中后的属性 */
.bazaarPanel .b3-button:not(.b3-button--outline) {
  background-color: var(--b3-button-blue);
  color: var(--color-white);
}

/* -------------------------------------- text-field -------------------------------------- */

.b3-text-field {
  opacity: 1;
  transform: unset;
  margin: 0;
  padding: 0;
  border: unset;
  border-radius: unset;
  box-shadow: unset;
  outline: unset;
  position: unset;
  font-size: 13px;
  border-radius: 4px;
  height: 28px;
  transform: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 4px 8px;
  line-height: 18px;
  border: 1px solid rgba(var(--border-4)) !important;
  border-bottom: 1px solid rgba(var(--border-2)) !important;
  background-color: var(--field-bg-light);
}

/* -------------------------------------- select -------------------------------------- */
.b3-select {
  font-size: 13px;
  border-radius: 4px;
  height: 28px;
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 4px 8px;
  line-height: 20px;
  box-shadow: unset;
  background-color: var(--field-bg-light);
}

.b3-select:hover,
.b3-select:focus,
.b3-select:focus-visible {
  box-shadow: unset;
  background-color: var(--field-bg-light);
}

/* -------------------------------------- switch -------------------------------------- */
.b3-switch {
  background-color: var(--color-white);
  width: 40px;
  height: 20px;
  border-radius: 9999px;
  border: 1px solid var(--field-switch);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.b3-switch::after {
  background-color: var(--field-switch);
  border: none;
  width: 12px;
  height: 12px;
  left: 3px;
  top: 3px;
  bottom: unset;
  box-shadow: none;
  border-radius: 9999px;
}

.b3-switch:checked {
  background-color: var(--field-bg-blue);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-color: var(--field-bg-blue);
}
.b3-switch:checked::after {
  background-color: var(--color-white);
  right: 15px;
  left: unset;
  top: 3px;
  bottom: unset;
  transform: translateX(12px);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
