/* -------------------------------------- 列表 -------------------------------------- */
/* 包含：左侧边栏文件列表、对话框左侧列表、选择代码语言的列表等 */
.b3-list-item {
  margin: 0 !important;
}

.b3-list-item__text {
  font-size: 13.5px;
}

/* .b3-list-item--focus {
  color: #0052d9;
} */

.b3-list-item__action svg {
  color: var(--b3-theme-on-background);
}

/* 鼠标悬停背景色 */
/* .b3-list--files .b3-list-item:hover { */
/* 覆盖base.css中的var(--b3-list-hover)  EBF0F7 E2EFF9 */
/* .b3-list-item:hover {
  background-color: var(--b3-list-item-hover) !important;
} */
/* 选中的背景色 */
/* .b3-list-item--focus {
  background-color: var(--b3-list-item-focus) !important;
} */
/* .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
  background-color: var(--b3-list-item-focus) !important;
} */

/* 鼠标放在上面的背景色： */
.b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--b3-list-item-hover) !important;
}
/* sidebar选中项的背景色：单独设置，设置为跟--b3-list-hover不一样 */
.layout__tab--active
  .b3-list--background
  .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
  background-color: var(--b3-link-bg-on-surface);
  /* background-color: var(--b3-list-item-focus); */
  /* background-color: var(--b3-list-sidebar-hover); */
}

/* ------------ 单独设置”设置“中左侧列表： ------------ */
.b3-dialog__container .config__panel > .b3-list--background.b3-tab-bar .b3-list-item {
  padding: 1px;
  margin: 7px 0 2px !important;
  line-height: 20px;
  /* background-color: #e7e7ea; */
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 13px;
  border-radius: 4px;
  /* height: 28px; */
  height: auto;
}

/* .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) { */
.b3-dialog__container .config__panel > .b3-list--background.b3-tab-bar .b3-list-item--focus {
  background-color: var(--b3-link-bg-on-surface);
  /* background-color: var(--b3-list-item-focus); */
  /* background-color: var(--b3-list-item-focus-dialog); */
  /* background-color: var(--b3-dialog-list-item-hover) !important; */
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
}
.b3-dialog__container .config__panel > .b3-list--background.b3-tab-bar .b3-list-item--focus::before {
  content: "";
  opacity: 1;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0px;
  width: 3px;
  z-index: 0;
  height: calc(100% - 8 * 2);
  background-color: var(--field-bg-blue);
  border-radius: 9999px;
}
/* 鼠标放在上面的背景色： */
.b3-dialog .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--b3-link-bg-on-surface-2) !important;
  /* background-color: var(--b3-list-item-hover) !important; */
}
