/* ------------------------------- 标题样式 -------------------------------------- */

/* ------------------- 标题1 ------------------- */

.protyle-wysiwyg [data-node-id].h1,
.b3-typography h1 {
  font-size: 1.7em !important;
  color: #202124; /* #04393f; */
  page-break-before: always;
  border-left: 4px solid #202124;
  border-radius: 4px;
  padding: 0px 0px 0px 20px;
  margin: 30px 0px 26px 0px;
  line-height: 1.35;
}

.protyle-wysiwyg [data-node-id].h1:before,
.b3-typography h1:before {
  content: "";
  display: inline-block;
  border-left: 3.8px solid #202124;
  border-radius: 5px;
  height: 48px;
  position: absolute;
  top: 50%;
  left: 0.3%; /* 用这个参数调整右竖线的位置，以看起来两条竖线之间的距离比较好 */
  transform: translateY(-50%);
}

/* ------------------- 标题2 ------------------- */
.protyle-wysiwyg [data-node-id].h2,
.b3-typography h2 {
  font-size: 1.5em !important;
  color: #202124;
  border-left: 4px solid #202124;
  /* border-radius: 4px; */
  padding: 0px 0px 0px 15px;
  margin: 60px 0px 28px 0px;
  line-height: 1.55;
  border-bottom: 1px solid #626366;
  /* 调整高度：在没输入文字时仍然保持一定的高度 */
  min-height: 38px;
}
.protyle-wysiwyg [data-node-id].h2:first-child,
.b3-typography h2:first-child {
  margin-top: 0px;
}

/* ------------------- 标题3 ------------------- */
.protyle-wysiwyg [data-node-id].h3,
.b3-typography h3 {
  font-size: 1.35em !important; /* 1.35em */
  color: #202124; /* #CC00FF; #34495e; */
  padding: 0px 0px 0px 15px;
  margin: 45px 0px 24px 0px;
}
.protyle-wysiwyg [data-node-id].h3:before,
.b3-typography h3:before {
  content: "";
  display: inline-block;
  border-left: 4px solid #202124;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
}

/* ------------------- 标题4 ------------------- */
.protyle-wysiwyg [data-node-id].h4,
.b3-typography h4 {
  font-size: 1.2em !important;
  color: #202124; /* #03a1b9cc;  #34495e; */
  padding: 0px 0px 0px 26px;
  margin: 20px 0px 15px 0px;
  line-height: 1.5em;
}
.protyle-wysiwyg [data-node-id].h4:before,
.b3-typography h4:before {
  content: "\27BD";
  display: inline-block;
  color: #202124;
  height: 29px;
  position: absolute;
  top: 50%;
  left: 0.2%;
  transform: translateY(-50%);
}

/* ------------------- 标题5 ------------------- */
.protyle-wysiwyg [data-node-id].h5,
.b3-typography h5 {
  font-size: 1.1em !important;
  color: #202124; /* #58c6d6; #34495e; */
  padding: 0px 0px 0px 24px;
  margin: 15px 0px 12px 0px;
  line-height: 1.5em;
}
.protyle-wysiwyg [data-node-id].h5:before,
.b3-typography h5:before {
  content: "\27BC";
  display: inline-block;
  color: #202124;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 0.2%;
  transform: translateY(-50%);
}

/* ------------------- 标题6 ------------------- */
.protyle-wysiwyg [data-node-id].h6,
.b3-typography h6 {
  font-size: 1em !important;
  color: #202124;
  padding: 0px 0px 0px 22px;
  margin: 10px 0px 8px 0px;
  line-height: 1.75em;
}
.protyle-wysiwyg [data-node-id].h6:before,
.b3-typography h6:before {
  content: "\21AC";
  display: inline-block;
  color: #202124;
  height: 31px;
  font-size: 23px;
  position: absolute;
  top: 50%;
  left: 0.2%;
  transform: translateY(-50%);
}

/* ------------------- 标题4/5/6 ------------------- */
.protyle-wysiwyg [data-node-id].h4 > div:first-child,
.protyle-wysiwyg [data-node-id].h5 > div:first-child,
.protyle-wysiwyg [data-node-id].h6 > div:first-child {
  display: block !important;
  margin-top: 0.15em;
  margin-right: 8px;
}
.protyle-wysiwyg .h4[data-node-id][fold="1"] > div:first-child,
.protyle-wysiwyg .h5[data-node-id][fold="1"] > div:first-child,
.protyle-wysiwyg .h6[data-node-id][fold="1"] > div:first-child {
  margin-top: 0em;
}
.protyle-wysiwyg .h4 > [spellcheck="false"]:focus:empty,
.protyle-wysiwyg .h5 > [spellcheck="false"]:focus:empty,
.protyle-wysiwyg .h6 > [spellcheck="false"]:focus:empty {
  padding-left: 1rem;
}
