/* ----------------------------- 顶部工具栏 ----------------------------- */

.fn__flex-column,
.card__main {
  min-height: unset;
}

/* --------- */

.toolbar {
  height: 27px;
  background-color: var(--b3-theme-surface);
  /* 删掉border */
  /* border-bottom: 0.5px solid var(--b3-border-color); */
  border-bottom: 0;
  /* 让编辑区标签页提到顶部遮住工具栏 */
  margin-bottom: -28px;
}

body.body--blur .toolbar {
  background-color: var(--b3-theme-surface);
}

.toolbar .toolbar__item {
  color: var(--b3-toolbar-item-3);
  padding: 7px;
}

.toolbar .toolbar__item svg {
  height: 13px;
  width: 13px;
  opacity: 0.7;
}

/* -------------- 顶部工具栏左边 --------------- */
/* SiYuan字样 */
.toolbar__text {
  color: var(--b3-toolbar-item-1);
  font-family: Courier New;
  font-size: 12px;
  margin-top: 2.1px;
  z-index: 0; /* 将编辑区标签页提到顶部后，加上这个SiYuan字样才能点击 */
}
/* 思源笔记字样后的箭头 */
.toolbar #barWorkspace svg {
  margin-top: 3px;
  stroke-width: 0;
  /* opacity: 0.5; */
  height: 12px;
  width: 9px;
}
/* 同步按钮 */
.toolbar .toolbar__item#barSync svg {
  stroke-width: 0;
  stroke: var(--b3-toolbar-item-barSync);
  height: 13px;
  width: 17px;
  opacity: 0.8;
}
/* 前进后退按钮 */
.toolbar .toolbar__item#barBack svg,
.toolbar .toolbar__item#barForward svg {
  /* stroke-width:0.3px; */
  fill: var(--b3-toolbar-item-4);
  height: 12px;
  width: 12px;
}
/* 思源笔记会员图标 */
/* 有思源会员时 */
.toolbar #toolbarVIP .toolbar__item svg {
  /* opacity: 0.6; */
  width: 15px;
  height: 15px;
}

.toolbar #toolbarVIP .toolbar__item svg path {
  fill: var(--toolart-vip-svg);
  stroke: var(--toolart-vip-svg);
}

/* 无思源会员时，此区域显式思源笔记的图标 */
.toolbar #toolbarVIP:empty {
  --webkit-app-region: drag;
  margin: 5px;
  width: 25px;
  height: 19px;
  opacity: 0.5;
  background-image: url("src/siyuan.svg");
  background-repeat: round;
}
/* .toolbar .toolbar__item#barDailyNote svg {
  stroke-width: 0.2px;
  stroke: #6c7075;
} */
/* 搜索按钮 */
.toolbar .toolbar__item#barSearch svg {
  stroke-width: 0.2px;
  stroke: var(--b3-toolbar-item-2);
}
/* 只读编辑模式 */
.toolbar .toolbar__item#barReadonly svg {
  fill: var(--b3-toolbar-item-2);
}
/* 外观模式：明亮暗黑 */
.toolbar .toolbar__item#barMode svg {
  fill: var(--color-black);
}

/* ------------------------------ 底部状态栏上的 ------------------------------ */
.toolbar .toolbar__item#barDock svg {
  stroke-width: 1px;
  stroke: var(--toolart-barDock-svg);
}

/* ------------------------------ toolbar上的item ------------------------------ */
.toolbar .toolbar__item:hover {
  /* 覆盖base.css中的var(--b3-list-hover) */
  background-color: var(--b3-border-color) !important; /* EBF0F7 E2EFF9 */
}

/* .toolbar__item--active, */
/* .toolbar__item:not(.toolbar__item--disabled):not(.toolbar__item--close) .b3-list-item__arrow:hover { */
/* .toolbar .toolbar__item .b3-list-item__arrow:hover {
  background-color: var(--b3-toolbar-item-hover-background);
} */

/* 左边栏文件列表的箭头： */
.b3-list-item__toggle--hl:hover {
  color: var(--b3-theme-on-background);
  /* background-color: var(--b3-list-item-toggle-hl-hover); */
  background-color: unset;
  /* border-radius: 0px; */
}

/* .toolbar .toolbar__item--action {
  background-color: var(--b3-toolbar-item-background);
  border-radius: 2px;
} */

.toolbar__item--disabled {
  /* 不加的话按钮不可点击时仍会显示出一个不完整的灰色框 */
  pointer-events: none;
}
