/* -------------------------------------- menu -------------------------------------- */
.b3-menu__item--show {
  background-color: var(--b3-list-menu-hover);
}

/* -------------------------------------- 代码选择菜单 -------------------------------------- */
/* 代码搜索框 */
.protyle-util .b3-text-field {
  margin: 4px 6px !important;
  padding: 8px;
  width: 180px;
}
/* 代码搜索框获取焦点时 */
/* .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus */
.protyle-util .b3-text-field:not(.b3-text-field--text):focus {
  box-shadow: inset 0 0 0 1px var(--b3-theme-primary-light), 0 0 0 3px var(--b3-theme-primary-lightest);
}
/* 代码列表 */
.protyle-util .b3-list {
  margin: 6px;
  min-width: 180px;
}
/* 代码列表的每个选项 */
.protyle-util .b3-list--background .b3-list-item {
  padding: 0 8px;
}

/* -------------------------------------- 搜索框 -------------------------------------- */
.search__header .b3-text-field--text {
  background-color: var(--b3-tab-background);
}
.search__header .b3-form__icon-icon {
  top: 6px;
  width: 14px;
  height: 14px;
}
.search__header .block__icon {
  top: 4px;
  width: 16px;
  height: 16px;
  padding: 5px 3px;
}
#searchPreview .protyle-breadcrumb {
  margin: 6px 0 12px 0;
}

/* -------------------------------------- 滚动条 -------------------------------------- */

::-webkit-scrollbar-corner {
  background-color: var(--b3-list-hover);
}
::-webkit-scrollbar-thumb {
  border-color: var(--b3-list-hover);
}
::selection {
  background-color: var(--b3-scrollbar);
}

/* ------------------- 弹框左侧的滚动条：------------------- */
.b3-dialog .b3-tab-bar::-webkit-scrollbar {
  display: none;
}
/* ------------------- 弹框右侧的滚动条：------------------- */
.config__tab-container:not(.fn__none)::-webkit-scrollbar {
  display: none;
}

/* ------------------- 侧边栏的滚动条：------------------- */
/* 不滚动时不显示 */
/* .fn__flex-1[data-type="navigation"] { */
.layout__dockl .file-tree .fn__flex-1 {
  overflow: hidden;
}
/* 滚动时显示 */
.layout__dockl .file-tree .fn__flex-1:hover {
  overflow-y: scroll;
}
/* .file-tree .fn__flex-1::-webkit-scrollbar {
  width: 6px;
} */
/* 定义滑动轨道：背景色、圆角、透明度 */
.layout__dockl .file-tree .fn__flex-1::-webkit-scrollbar-thumb {
  background-color: var(--b3-list-hover);
  /* background-color: var(--b3-scrollbar); */
  border: 6px solid var(--b3-list-hover);
  /* border: 6px solid var(--b3-scrollbar); */
  border-radius: 0px;
  opacity: 0.2;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
/* 滑动轨道放上去的效果 */
.layout__dockl .file-tree .fn__flex-1::-webkit-scrollbar-thumb:hover {
  background-color: var(--b3-scrollbar);
  border: 6px solid var(--b3-scrollbar);
  /* width: 6px; */
}

/*  */
.layout__dockr .file-tree .fn__flex-1::-webkit-scrollbar {
  display: none; /* 设置为完全不显示 */
}

/* ------------------- 编辑区的滚动条：------------------- */
.protyle-content::-webkit-scrollbar {
  display: none; /* 设置为完全不显示 */
}

/* ------------------- 代码语言选择框的滚动条：------------------- */
.protyle-util .b3-list::-webkit-scrollbar {
  display: none; /* 设置为完全不显示 */
}

/* -------------------------------窗口美化-------------------------------------- */
/* 会导致顶部toolbar的SiYuan字样不显示 */
/* .fn__flex-column {
  background-color: var(--b3-theme-surface);
} */

.search__label .b3-form__icon-input {
  background-color: var(--b3-tab-background);
}

.protyle-util > .fn__flex-column {
  font-family: var(--b3-font-family-code);
}

.protyle-util > .fn__flex-column > input {
  font-family: var(--b3-font-family-code);
}
