/* -------------------------------------- 列表 -------------------------------------- */
/* 包含：左侧边栏文件列表、对话框左侧列表、选择代码语言的列表等 */
.b3-list-item {
  margin: 0 !important;
}

.b3-list-item__text {
  font-size: 13.5px;
}

.b3-list-item__action svg {
  color: var(--b3-theme-on-background);
}

/* hover而非focus的背景色：选中上级菜单，再选择其某个下级菜单时 */
/* .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--list-item-hover) !important;
} */

/* .b3-list-item__icon:hover { */
/* background-color: var(--b3-list-icon-hover); */
/* box-shadow: var(--list-icon-hover-shadow); */
/* } */

/* --------------------- 文档树区域的列表 --------------------- */
.file-tree.sy__file .b3-list--background .b3-list-item {
  border-radius: 0;
}

/* --------------------- sidebar选中项的背景色：--------------------- */
.layout__tab--active
  .b3-list--background
  .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) {
  background-color: var(--b3-list-hover);
}

/* --------------------- “设置”左侧列表： --------------------- */
.b3-dialog__container .config__panel > .b3-list--background.b3-tab-bar .b3-list-item {
  padding: 1px;
  margin: 7px 0 2px !important;
  line-height: 20px;
  /* background-color: #e7e7ea; */
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-size: 13px;
  border-radius: 4px;
  /* height: 28px; */
  height: auto;
}

/* .b3-list--background .b3-list-item--focus:not(.dragover):not(.dragover__top):not(.dragover__bottom) { */
.b3-dialog__container .config__panel > .b3-list--background.b3-tab-bar .b3-list-item--focus {
  background-color: var(--b3-list-hover);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: relative;
}

.b3-dialog__container .config__panel > .b3-list--background.b3-tab-bar .b3-list-item--focus::before {
  content: "";
  opacity: 1;
  margin: 0;
  padding: 0;
  display: block;
  position: absolute;
  top: 8px;
  bottom: 8px;
  left: 0px;
  width: 3px;
  z-index: 0;
  height: calc(100% - 8 * 2);
  background-color: var(--field-bg-blue);
  border-radius: 9999px;
}
/* hover背景色： */
.b3-dialog .b3-list--background .b3-list-item:hover:not(.b3-list-item--focus) {
  background-color: var(--list-item-hover) !important;
}
